<div>
  <div>
    <div class="container-header">
      <app-header></app-header>
    </div>
  </div>
  <div class="columns">
    <div class="container-add">
      <app-add-product></app-add-product>
    </div>

    <div class="rows">
      <div class="container-list">
        <div>
          <app-tobuy-product></app-tobuy-product>
        </div>
      </div>

      <div class="container-bought">
        <div>
          <app-bought-product></app-bought-product>
        </div>
      </div>
    </div>
  </div>
</div>

